.big-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sm-container {
    height: 50%;
    width: 50%;
    background-color: rgb(12, 68, 147);
    border: solid black 2px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    width: 75%;
    border: solid whitesmoke 2px;
    border-radius: 3px;
    text-align: center;
    color: white;
}

.id {
    width: 75%;
    border: solid white 2px;
    border-radius: 3px;
    text-align: center;
    color: white;
}

@media (max-width: 800px) {
    
    .sm-container {
        height: 75%;
        width: 75%;
    }

    .name {
        font-size: 5vh;
    }

    .id {
        font-size: 3vh;
    }

    .attribution {
        font-size: 2vh;
    }

}